<div id="<%= dom_id business %>">
  <div class="card h-100">
    <% if business.avatar.attached? %>
      <img src="<%= url_for(business.avatar) %>" class="card-img-top" alt="...">
    <% end %>

    <div class="card-body">
      <h5 class="card-title"><%= business.name %></h5>
      <p class="card-text"><%= link_to "Show this business", business %></p>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">Email: <%= business.email %></li>
      <li class="list-group-item">Is owner: <%= business.is_owner %></li>
      <li class="list-group-item">Location: <%= business.location %></li>
      <li class="list-group-item">Telephone: <%= business.telephone %></li>
      <li class="list-group-item">Website: <%= business.website %></li>
      <li class="list-group-item">Instagram: <%= business.instagram %></li>
      <li class="list-group-item">Business Type: <%= business.business_type_id %></li>
    </ul>

    <div class="card-footer">
      <small class="text-muted">Opening Time: <%= business.opens_at %> to <%= business.closes_at %></small>
    </div>
  </div>
</div>
